*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.navbar{
    width: 90%;
    margin: auto;
}

.central-content{
    zoom: 130%;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex;
    flex-direction: column;
    margin-bottom: 10%; */
}

.nav-container{
    padding: 20px 0;
}

.nav-container h2 {
    color: rgb(29 29 29);
}

.nav-container .nav {
    justify-self: flex-end;
    display: flex;
}

.nav-container .nav a{
    margin: 0 20px;
    padding: 8px;
    color: black;
}

.nav-container .nav a:hover{
    background: #333;
    color: white;
    border-radius: 30px;
}

.header{
    width: 80%;
    margin: 70px auto;
    margin-bottom: 50px;
}

.container img{
    width: 100%;
}

.container div h3{
    line-height: 10%;
}

.container div p{
    margin: 20px 0;
}

.container div a {
    padding: 15px;
    background: #333;
    margin: 20px 0;
    display: inline block;
    color: #fff;
    border-radius: 10px;
}

.container2 img{
    width: 100%;
}

.container2 div h1{
    font-size: 300%;
}

.container2 div p{
    margin: 20px 0;
}

.container2 div a {
    padding: 15px;
    background: #333;
    margin: 20px 0;
    display: inline block;
    color: #fff;
    border-radius: 10px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }

input[type=submit] {
    /* width: 100%;
    background-color: #0178f1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 14px;
    cursor: pointer; */
    background-color: #0178f1;
    background-image: linear-gradient(#0178f1, #228af1);
    border: 1px solid #053f79;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    line-height: 100%;
    margin: 0;
    outline: 0;
    padding: 11px 15px 12px;
    text-align: center;
    transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}

input[type=submit]:hover {
    /* background-color: #0176a9; */
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 5px;
    text-decoration: none;
    transition-duration: .15s, .15s;
}

.footer{
    background: rgb(19, 19, 27);
    margin-top: 100px 0 0 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px;
}

.footer .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container div li {
    cursor: pointer;
}

hr {
    margin: 5px 0;
    opacity: 0.4;
}

.footer .main-container small{
    color: white;
}

.fa {
    padding: 0px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

@media(max-width: 1800px) {
    .central-content{
        zoom: 100%;
    }
    .footer{
        position: fixed;
    }
}

@media(max-width: 1000px) {
    .container2{
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }

    .header{
        margin: 20px auto;
        margin-bottom: 14%;
    }
}

